* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
}

header {
    background: rgba(0, 0, 0, 0.5);
    padding: 25px;
    text-align: center;
}

header h1 {
    font-size: 40px;
    letter-spacing: 2px;
}

header p {
    opacity: 0.8;
}

nav {
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: #f1c40f;
}

.container {
    width: 80%;
    margin: 40px auto;
    background: rgba(255, 255, 255, 0.12);
    padding: 30px;
    border-radius: 15px;
}

h2 {
    color: #f1c40f;
    margin-bottom: 20px;
}

input, select, button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    outline: none;
}

button {
    background-color: #f1c40f;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #d4ac0d;
}

footer {
    background: rgba(0,0,0,0.7);
    padding: 15px;
    text-align: center;
    margin-top: 40px;
}
